body {
    background-color: white;
}

h1 {
    font-family: sans-serif;
    color: Black;
    background-color: SlateGray;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 1.0em;
    font-weight: bold;
}

h2 {
    font-family: sans-serif;
    color: Black;
    font-size: 1.2em;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    font-weight: bold;
    border-bottom: 2px solid Gray;
}

h3 {
    font-family: sans-serif;
    color: Black;
    font-size: 1.10em;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

pre {
    font-family: monospace;
    color: black;
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}

span {
    font-family: monospace;
    color: black;
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}

a {
    font-family: monospace;
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
